.actions {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.actions > div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 100px;
}
.error {
  color: #b02114;
}